.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.jumbotron h1 {
    color: red;
}

.jumbotron a{
    color:blue;
    font-size:1.5em;
    text-decoration: none;
}

.nav span {
    color:green;
    cursor: pointer;
}

.blog-post:first-of-type{
    color:blueviolet;
}

.blog-post hr:first-of-type {
    background-color: red;}

.blog-pagination a:nth-of-type(even){
    font-size: 2em;
}

.p-4 .mb-0 li{
    background-color: blue;
}

p.blog-post-meta a:nth-child(1) {
    font-size: 30px;
}


.blog-post:nth-of-type(3) li:nth-of-type(2){
    background-color: rosybrown;
}

.float-right.mb-3.mr-3{
    background-color: red;
}

.blog-pagination a:first-child{
    background-color: blue;
}

.text-center a:last-child{
    background-color: red;
}